@import url(https://fonts.googleapis.com/css?family=Raleway:200);

body {
	font-family: Raleway;	
	background-color: #ecf0f1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#title h1 {
	font-family: Raleway;
	font-size: 50px;	
}

#input {
	margin-top: 20px;
}

.dropdown-menu {
	width: 100%;
}


.btn-default, .btn-group {
	width: 100%;
}

#spent-vis {
	height: 450px;
	width: 450px;
}

#canvas-div {
	height: 450px;
	width: 450px;
	margin-right: auto;
	margin-left: auto;
}

.jumbotron {
	background: #FFF;
	padding-top: 35px;
	padding-bottom: 35px;
}

#transactions {
	margin-top: 30px;
}


.transaction p {
	padding-left: 5px;
	font-size: 18px;
}