<header id="title">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>spent</h1>	
			</div>
			<div class="col-md-6">
				<ul class="nav nav-pills nav-justified" id="nav">
					<li role="presentation"><a href="" ui-sref="main.overview()">overview</a></li>				
					<li role="presentation" class="active"><a href="" ui-sref="main.budgets()">budgets</a></li>
					<li role="presentation"><a href="" ui-sref="main.transactions()">transactions</a></li>
				</ul>
			</div>							
		</div>
	</div>
</header>

<section>
	<div class="container">
		<h1>Budgets</h1>
	</div>	
</section>
